.carousel-container {
    position: relative;
}

.carousel-image {
    opacity: 1;
    height: 415px;
    animation: fadeIn 1s;
}

.carousel-image-cachee {
    opacity: 0;
    height: 0px;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.image {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    object-fit: cover;
}

.fleche-precedente {
    position: absolute;
    top: 50%;
    left: 2%;
    transform: translate(-0%, -50%);
    font-size: 4em;
    color: white;
    cursor: pointer
}

.fleche-suivante {
    position: absolute;
    top: 50%;
    right: 2%;
    transform: translate(-0%, -50%);
    font-size: 4em;
    color: white;
    cursor: pointer
}

.compteur {
    color: white;
    font-size: larger;
    position: absolute;
    bottom: 5%;
    left: 50%;
}

@media screen and (max-width:420px) {

    .compteur {
        display: none;
    }

    .fleche-precedente {
        font-size: 2em;
    }

    .fleche-suivante {
        font-size: 2em;
    }

    .carousel-image {
        height: 300px;
    }
}