.dropdown-appart {
    background-color: #FF6060;
    color: white;
    height: 50px;
    cursor: pointer;
    border-radius: 15px;
    position: relative;
    font-weight: bold;
}


p {
    margin-left: 20px;
    padding: 15px;
}

.arrow-bottom {
    position: absolute;
    right: 5%;
    top: 25%;
    color: white;
    font-size: x-large;
}

.arrow-top {
    position: absolute;
    right: 5%;
    top: 25%;
    color: white;
    font-size: x-large;
}

.dropdown-appart-content {
    border-radius: 15px;
    background-color: #F6F6F6;
    top: 100%;
    margin-top: -10px;
}

.dropdown-content-text {
    display: flex;
    padding: 30px;
    color: #FF6060;
    font-size: 18px;
    line-height: 1.5;
}


.dropdown-equipments-content-text {
    display: flex;
    flex-direction: column;
    padding: 30px;
    color: #FF6060;
    line-height: 1.5;
    font-size: 18px;
}

.dropdowns-container {
    width: 100%;
}