.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    margin: 100px auto 0;
    padding: 50px;
    justify-content: center;
    background-color: #F6F6F6;
    width: 85%;
    border-radius: 20px;
}



@media screen and (max-width:420px) {

    .cards {
        padding: 0px;
        background-color: white;
        width: 100%;
        margin-bottom: 20px;
    }


    .copyright {
        font-size: smaller;
    }

}